<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>毕设选导-教师报课管理系统-登录</title>
</head>
<body>


{$user}

<div class="container">
            <div id="iden" class="checkbox">
                <label>
                    <input type="radio" name="login-type" value="student" />
                    学生
                </label>
                <label>
                    <input type="radio" name="login-type" value="teacher" />
                    教师
                </label>
                <label>
                    <input type="radio" name="login-type" value="department_head" />
                    系负责人
                </label>
                <label>
                    <input type="radio" name="login-type" value="teaching_office" />
                    教学办
                </label>
            </div>
</div>
</body>
</html>